
<mat-card class="card" >
    <mat-card-header class="card-header" *ngIf="eventdata">
      <mat-card-title style="font-size:3.5vw;">{{eventdata.name}}</mat-card-title>
      <mat-card-subtitle style="font-size:3vw;">Scan QR Code to check in</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     
    <div class="cameraImg">
      <qr-scanner #scannerArea 
        [debug]="false"
        [canvasWidth]="1080" 
        [canvasHeight]="720" 
        [stopAfterScan]="true" 
        [updateTime]="500">
      </qr-scanner>
    </div>
    </mat-card-content>

    <mat-card-actions>
      <mat-icon class="icon" (click)="flipCamera()" *ngIf="dualCamera">flip_camera_ios</mat-icon>
    </mat-card-actions>
  </mat-card>
