.card {
    max-width: 90%;
    margin:0 auto;
  }
  

  .card-header{
    display:block;
    text-align: center;
  }

  .cameraImg{
    width:80%;
    margin:0 auto;
  }
  .icon{
    font-size:50px;
  }

 
  video{
    max-height: 70vh;
  }