.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-full-width {
  width: 100%;
}




.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
  flex: 1;
}

.ngx-material-timepicker {
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.ngx-material-timepicker-examples {
  &__title {
      font-weight: 400;
      font-size: 22px;
  }
  &__container {
      margin-bottom: 30px;
  }
}
