.icon{
    font-size:20vh;
    height: 20vh;
    width:20vh;
}

.ion_color_green {
     color: rgb(12, 160, 12);
}

.ion_color_red {
    color: rgba(223, 3, 3, 0.836);
}

.ion_color_yellow {
    color: #f3f308;
}

