<div *ngIf="eventdata">

    <div class="cover" style="background-image: url('assets/img/bg/slider.png');">
        <div class="cover-content" >
            <h2 class="cover-title">
                Prepare yourself for the
            </h2>
            <strong class="cover-xl-text">{{eventdata.eventformat}}</strong>
            <p class="cover-date" >
                {{eventdata.dateFrom | date:'d MMM' }} - {{eventdata.dateTo | date:'d MMM y'}}  - {{eventdata.venue}}
            </p>
            <a href="#" class=" btn btn-primary btn-rounded" >
                Register Now
            </a>
        </div>
    </div>


    <div id="box" >
        <div  class="item">
            <table class="event_table">
                    <tr>
                        <td rowspan="2">
                            <div>
                                <mat-icon color="accent" class="icon">calendar_today</mat-icon>
                            </div>    
                        </td>
                        <td>
                            <h4>DATE</h4>
                        </td>
                    </tr>
                    <tr>           
                        <td>
                            {{eventdata.dateFrom | date:'d MMM' }} - {{eventdata.dateTo | date:'d MMM y'}}
                        </td>
                    </tr>
            </table>
        </div>
        <div  class="item">
            <table class="event_table">
                    <tr>
                        <td rowspan="2">
                            <div >
                                <mat-icon color="accent" class="icon">where_to_vote</mat-icon>
                            </div>    
                        </td>
                        <td>
                            <h4>LOCATION</h4>
                        </td>
                    </tr>
                    <tr>           
                        <td>
                            {{eventdata.venue}}
                        </td>
                    </tr>
                </table>
        </div>
        <div  class="item">
            <table class="event_table">
                    <tr>
                        <td rowspan="2">
                            <div>
                                    <mat-icon color="accent" class="icon">access_time</mat-icon>
                            </div>    
                        </td>
                        <td>
                            <h4>TIMING</h4>
                        </td>
                    </tr>
                    <tr>           
                        <td>
                                {{eventdata.timingFrom}} - {{eventdata.timingTo}}
                        </td>
                    </tr>
            </table>
        </div>
        <div  class="item">
            <table class="event_table">
                    <tr>
                        <td rowspan="2">
                            <div>
                                    <mat-icon color="accent" class="icon">loyalty</mat-icon>
                            </div>    
                        </td>
                        <td>
                            <h4>TICKETS</h4>
                        </td>
                    </tr>
                    <tr>           
                        <td>
                            <p *ngIf="eventdata.entryFee > 0">
                                Start from ${{eventdata.entryFee}}
                            </p>
                            <p *ngIf="eventdata.entryFee ==0">
                                Free Admission
                            </p>
                        </td>
                    </tr>
            </table>
        </div>
    </div>


    <!--================Event Time Area =================-->
    <section class="event_time_area" style="background-image: url('assets/img/bg/bg-img.png');">
    
        <div class="event_time_inner">
            <div class="event_text">
                <h3>Event will Start in</h3>
            </div>

            <div class="timer_inner">
                <div id="timer" class="timer">
                    <div class="timer__section days">
                        <div class="timer__number"></div>
                        <div class="timer__label">days</div>
                    </div>
                    <div class="timer__section hours">
                        <div class="timer__number"></div>
                        <div class="timer__label">hours</div>
                    </div>
                    <div class="timer__section minutes">
                        <div class="timer__number"></div>
                        <div class="timer__label">Minutes</div>
                    </div>
                    <div class="timer__section seconds">
                        <div class="timer__number"></div>
                        <div class="timer__label">seconds</div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <!--================End Event Time Area =================-->




    <!--about the event -->
    <div style="width:80%;margin:0 auto;">
        <div class="section_title">
            <h3 class="title">
                About the event
            </h3>
        </div>
        <div>
            <p>
                {{eventdata.introduction}}
            </p>
        </div>
    
        <br><br>
        <div>
            <mat-chip-list>
                <mat-chip *ngFor="let category of eventdata.category" selected>
                    {{category}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <!--about the event end -->


    <!--about the Orgnizer -->
    <div style="width:80%;margin:0 auto;">
        <div class="section_title">
            <h3 class="title">
                Orgnizer
            </h3>
        </div>
        <div>
            <h4>
                {{eventdata.organizer}}
            </h4>
        </div>
    </div><br><br>
    <!--about the Orgnizer end -->



    <!--footer start -->
    <div class="copyright_footer">
        <p>
            Copyright &copy;2019 All rights reserved 
        </p>
    </div>
    <!--footer end -->

</div>